<a href="https://colab.research.google.com/github/33Quentin/ChatApp/blob/main/P1_Manipulation_avec_pandas_flight2013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#charger le fichier csv avec la fonction read
data = pd.read_csv("https://dv495y1g0kef5.cloudfront.net/single_notebooks/data/flights.csv", index_col=0)

In [ ]:
#Une fonction pratique pour afficher les cinq premi√®res lignes du DataFrame est la fonction head
data.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
242833,2013,6,23,533.0,-6.0,745.0,-27.0,UA,N806UA,675,EWR,IAH,176.0,1400,5.0,33.0
326063,2013,9,19,1156.0,-3.0,1443.0,-10.0,B6,N789JB,323,JFK,LAX,313.0,2475,11.0,56.0
205293,2013,5,13,1900.0,40.0,2029.0,28.0,9E,N8923A,4277,JFK,ORF,54.0,290,19.0,0.0
238430,2013,6,18,1140.0,-5.0,1353.0,13.0,MQ,N511MQ,3546,LGA,MSP,152.0,1020,11.0,40.0
183890,2013,4,20,1917.0,-3.0,2025.0,-25.0,WN,N423WN,1352,LGA,MDW,114.0,725,19.0,17.0

In [ ]:
#Une propri√©t√© qui peut √™tre utile, est le shape (forme) des DataFrame, qui indique le nombre de lignes et de colonnes.
data.shape
print(data.cov())

           year      month         day       dep_time    dep_delay  \
year        0.0   0.000000    0.000000       0.000000     0.000000
month       0.0  11.609499   -0.394613       1.309930    -3.793572
day         0.0  -0.394613   76.776149      17.085207     4.303538
dep_time    0.0   1.309930   17.085207  235938.076000  5218.238228
dep_delay   0.0  -3.793572    4.303538    5218.238228  1918.712637
arr_time    0.0  17.662072  -15.958891  171055.713155   597.062232
arr_delay   0.0  -3.775486    3.445630    5128.446468  1923.972097
flight      0.0 -33.409539  127.418232   28553.408678  3338.659607
air_time    0.0   5.821343  -11.940887    -967.399277   -60.317779
distance    0.0  71.237442  -84.678055   -7274.124143  -468.550449
hour        0.0   0.009883    0.181971    2363.540742    52.640953
minute      0.0   0.321632   -1.111859    -415.998166   -45.857080

                arr_time    arr_delay        flight      air_time  \
year            0.000000     0.000000  0.000000e+00      0.000000
month          17.662072    -3.775486 -3.340954e+01      5.821343
day           -15.958891     3.445630  1.274182e+02    -11.940887
dep_time   171055.713155  5128.446468  2.855341e+04   -967.399277
dep_delay     597.062232  1923.972097  3.338660e+03    -60.317779
arr_time   280683.532015   689.354483  1.668900e+04   2094.238384
arr_delay     689.354483  2285.048965  4.666848e+03    -97.924902
flight      16688.998456  4666.848473  2.670299e+06 -72132.718679
air_time     2094.238384   -97.924902 -7.213272e+04   8835.765554
distance    13495.959231 -1658.258145 -5.807279e+05  68777.051502
hour         1712.620357    51.763924  2.891159e+02     -9.442193
minute       -206.322531   -47.945938 -3.581802e+02    -23.180009

                distance         hour      minute
year            0.000000     0.000000    0.000000
month          71.237442     0.009883    0.321632
day           -84.678055     0.181971   -1.111859
dep_time    -7274.124143  2363.540742 -415.998166
dep_delay    -468.550449    52.640953  -45.857080
arr_time    13495.959231  1712.620357 -206.322531
arr_delay   -1658.258145    51.763924  -47.945938
flight    -580727.858421   289.115889 -358.180184
air_time    68777.051502    -9.442193  -23.180009
distance   540879.920735   -71.237778 -150.346362
hour          -71.237778    23.710137   -7.472922
minute       -150.346362    -7.472922  331.294055

<ipython-input-13-7deeb08e60d3>:3: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(data.cov())

In [ ]:
data['dest']

242833    IAH
326063    LAX
205293    ORF
238430    MSP
183890    MDW
         ...
231805    BOS
68243     JAX
51061     SEA
334044    FLL
36258     ORD
Name: dest, Length: 20000, dtype: object

In [ ]:
# Ligne dont l'indice est le label 87
data.loc[87]

year           2013
month             1
day               1
dep_time      733.0
dep_delay      -3.0
arr_time      854.0
arr_delay       4.0
carrier          B6
tailnum      N552JB
flight           44
origin          JFK
dest            SYR
air_time       54.0
distance        209
hour            7.0
minute         33.0
Name: 87, dtype: object

In [ ]:
# Ligne dont la position est 87 (88√®me ligne)
data.iloc[87]

year           2013
month            12
day              14
dep_time     1213.0
dep_delay       3.0
arr_time     1341.0
arr_delay      18.0
carrier          9E
tailnum      N919XJ
flight         2902
origin          JFK
dest            BOS
air_time       34.0
distance        187
hour           12.0
minute         13.0
Name: 95681, dtype: object

In [ ]:
#Maintenant que nous pouvons acc√©der aux donn√©es, nous devons maintenant filtrer pour r√©cup√©rer uniquement ce qui nous int√©resse.
data[data['origin'] == "JFK"].head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
326063,2013,9,19,1156.0,-3.0,1443.0,-10.0,B6,N789JB,323,JFK,LAX,313.0,2475,11.0,56.0
205293,2013,5,13,1900.0,40.0,2029.0,28.0,9E,N8923A,4277,JFK,ORF,54.0,290,19.0,0.0
165434,2013,4,1,1128.0,-3.0,1425.0,-6.0,B6,N618JB,133,JFK,RSW,162.0,1074,11.0,28.0
930,2013,1,2,659.0,-1.0,959.0,-26.0,VX,N626VA,399,JFK,LAX,330.0,2475,6.0,59.0
287083,2013,8,8,1338.0,8.0,1612.0,14.0,DL,N353NB,2043,JFK,ATL,115.0,760,13.0,38.0

In [ ]:
#les vols en provenance de l'a√©roport JFK le 3 octobre
data[(data['dest'] == "DCA") & (data['month'] == 10) & (data['day'] == 3)]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
29762,2013,10,3,1851.0,-9.0,2006.0,-12.0,US,N747UW,2193,LGA,DCA,43.0,214,18.0,51.0
29339,2013,10,3,1219.0,19.0,1332.0,15.0,US,N765US,2179,LGA,DCA,44.0,214,12.0,19.0

In [ ]:
data[(data['hour'] >= 23) | (data['hour'] <= 1)].head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
255733,2013,7,7,141.0,102.0,528.0,98.0,B6,N768JB,745,JFK,PSE,207.0,1617,1.0,41.0
109557,2013,12,30,125.0,210.0,420.0,214.0,B6,N656JB,2053,JFK,PBI,156.0,1028,1.0,25.0
120663,2013,2,11,2313.0,108.0,3.0,99.0,EV,N12552,4404,EWR,PVD,31.0,160,23.0,13.0
140794,2013,3,5,2345.0,-14.0,439.0,1.0,B6,N705JB,727,JFK,BQN,196.0,1576,23.0,45.0
123520,2013,2,15,6.0,171.0,48.0,154.0,EV,N11535,4404,EWR,PVD,28.0,160,0.0,6.0

In [ ]:
#R√©cup√©rer les num√©ros de s√©rie (tailnum) des vols dont l'a√©roport de d√©part est JFK ou EWR.
#Indice : utiliser la fonction .isin() sur la colonne du DataFrame choisie.

data[(data['origin'].isin(['JFK', 'EWR']))]['tailnum']

242833    N806UA
326063    N789JB
205293    N8923A
80110     N775JB
165434    N618JB
           ...
226339    N385AA
231805    N492UA
68243     N11176
51061     N705TW
334044    N371DA
Name: tailnum, Length: 13782, dtype: object

In [ ]:
#Supposons que l'on souhaite connaitre le retard enregistr√© au d√©part pour tous les vols d'origine JFK et qui ont d√©coll√© en novembre 2013.
#Avec l'aide de la fonction .loc, nous pouvons sp√©cifier directement la colonne qui nous int√©resse lors du filtrage.
data.loc[(data['origin'] == "JFK") & (data['month'] == 11) & (data['year'] == 2013), 'dep_delay'].head()

79657     1.0
59692     0.0
72438     6.0
79711    14.0
83096    68.0
Name: dep_delay, dtype: float64

In [ ]:
#Il est ensuite possible de r√©cup√©rer cette colonne comme un vecteur et de faire des manipulations.
#Dans certains cas, si l'on a besoin de plus d'une colonne, il suffit de sp√©cifier une liste de colonnes √† r√©cup√©rer.
data.loc[(data['origin'] == "JFK") & (data['month'] == 11) & (data['year'] == 2013), ['dep_delay', 'dest']].head()

       dep_delay dest
79657        1.0  PDX
59692        0.0  FLL
72438        6.0  MCO
79711       14.0  FLL
83096       68.0  SJU

In [ ]:
#Afficher l'heure de d√©part et le retard au d√©part de tous les vols ayant d√©coll√© le 24 d√©cembre 2013.
data.loc[(data['day'] == 24) & (data['month'] == 12) & (data['year'] == 2013), ['dep_time', 'dep_delay']]

        dep_time  dep_delay
105146    1921.0       34.0
104621     823.0       37.0
105069    1728.0       -2.0
104972    1535.0       51.0
104733    1022.0        7.0
104602     805.0       17.0
104968    1529.0        0.0
104712     954.0       -6.0
105207    2136.0        1.0
104873    1331.0        1.0
104827    1230.0       45.0
104756    1058.0       -2.0
105043    1700.0        0.0
105066    1725.0        0.0
105048    1705.0       15.0
104829    1233.0       -2.0
104679     917.0       -3.0
104964    1524.0        9.0
104823    1222.0       42.0
104817    1212.0       -8.0
104956    1518.0       -2.0
104727    1011.0       -9.0
104496     612.0       -3.0
105082    1740.0       33.0
104901    1420.0       10.0
104820    1217.0       24.0
104540     701.0        1.0
104554     716.0        0.0
104786    1144.0       -1.0
104711     952.0       -8.0
105181    2026.0       -1.0
104599     804.0        4.0
104960    1521.0       -4.0

In [ ]:
# D'abord, on r√©cup√®re uniquement les deux variables
retards = data[['origin', 'dep_delay']]
retards.head()

       origin  dep_delay
242833    EWR       -6.0
326063    JFK       -3.0
205293    JFK       40.0
238430    LGA       -5.0
183890    LGA       -3.0

In [ ]:
# Ensuite, nous filtrons pour ne r√©cup√©rer que les retards
retards = retards[retards['dep_delay'] > 0]
retards.head()

       origin  dep_delay
205293    JFK       40.0
260366    LGA       44.0
83722     LGA       54.0
152364    LGA       24.0
11188     EWR       88.0

In [ ]:
# Il ne reste plus qu'√† grouper et calculer la moyenne
retards.groupby(by='origin').mean()

        dep_delay
origin
EWR     40.124840
JFK     39.475774
LGA     43.041302

In [ ]:
#D√©terminer, pour chaque a√©roport de destination, le retard le plus important qu'il y ait eu lieu.
retards = data[['dest', 'arr_delay']]
retards.groupby(by='dest').max()

      arr_delay
dest
ABQ        86.0
ACK        28.0
ALB       112.0
ATL       895.0
AUS       328.0
...         ...
TPA       308.0
TUL       262.0
TVC        43.0
TYS       167.0
XNA       128.0

[101 rows x 1 columns]

In [ ]:
#Parmi tous les vols en provenance de l'a√©roport JFK, quel est le mois o√π il y a eu le plus long retard d'un vol √† l'arriv√©e ?
# On ne prends d'abord que ceux dont l'origine est JFK et ensuite, on ne s'int√©resse qu'au mois et au retard √† l'arriv√©e
retards = data.loc[data['origin'] == "JFK", ['month', 'arr_delay']]
retards.groupby(by='month').max()

       arr_delay
month
1         1272.0
2          744.0
3          292.0
4          308.0
5          372.0
6          769.0
7          354.0
8          356.0
9          350.0
10         311.0
11         396.0
12         681.0